<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://vitessedata.com",
  "name": "Vitesse Data, Inc.",
  "description": "Founded in 2014, Vitesse Data, Inc., provides world-leading MPP data warehouse and IMDG (In-Memory Data Grid) Solutions to empower the world’s largest organizations to adapt to change and become data driven.",
  "logo": "http://vitessedata.com/img/logoname.png",

  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "+1-650-434-2338",
    "email": "sales@vitessedata.com",
    "contactType": "sales",
    "areaServed": ["US", "AU", "CN", "HK"],
    "availableLanguage": ["English", "Chinese"]
  },
  {
    "@type": "ContactPoint",
    "telephone": "+1-650-434-2338",
    "email": "support@vitessedata.com",
    "contactType": "customer service",
    "areaServed": ["US", "AU", "CN", "HK"],
    "availableLanguage": ["English", "Chinese"]
  }
  ],
  "sameAs": [
    "https://twitter.com/vitessedata"
  ]
}
</script>
