<ul class="nav nav-stacked bg-lt-grey f-nav">
  {{ $subPage := .URL }}
  <li><a {{if eq $subPage "/products/open-source-greenplum/download/"}}class="active"{{end}} href="/products/open-source-greenplum/download"><small>Packages</small></a></li>
  <li><a {{if in $subPage "/install"}}class="active"{{end}} href="/products/open-source-greenplum/download/install"><small>Install</small></a></li>
  <li><a {{if in $subPage "/beta"}}class="active"{{end}} href="/products/open-source-greenplum/download/beta"><small>Beta</small></a></li>
</ul>
