<ul class="nav nav-stacked bg-lt-grey f-nav">
  {{ $subPage := .URL }}
  <li><a {{if in $subPage "/deepgreen-db-matrix/"}}class="active" {{end}} href="/products/deepgreen-db/features/deepgreen-db-matrix"><small>Feature Matrix</small></a></li>
  <li><a {{if in $subPage "/deepgreen-db-gpdb-compatibility/"}}class="active"{{end}} href="/products/deepgreen-db/features/deepgreen-db-gpdb-compatibility"><small>100% GPDB</small></a></li>
  <li><a {{if in $subPage "/deepgreen-db-decimal/"}}class="active"{{end}} href="/products/deepgreen-db/features/deepgreen-db-decimal"><small>Fast Decimal</small></a></li>
  <li><a {{if in $subPage "/deepgreen-db-json/"}}class="active"{{end}} href="/products/deepgreen-db/features/deepgreen-db-json"><small>JSON</small></a></li>
  <li><a {{if in $subPage "/deepgreen-db-z/"}}class="active"{{end}} href="/products/deepgreen-db/features/deepgreen-db-z"><small>Compression</small></a></li>
  <li><a {{if in $subPage "/deepgreen-db-sample/"}}class="active" {{end}} href="/products/deepgreen-db/features/deepgreen-db-sample"><small>Sampling</small></a></li>
  <li><a {{if in $subPage "/deepgreen-db-pax/"}}class="active" {{end}} href="/products/deepgreen-db/features/deepgreen-db-pax"><small><sup>new</sup> PAX Column Store</small></a></li>
  <li><a {{if in $subPage "/deepgreen-db-pgbadger/"}}class="active" {{end}} href="/products/deepgreen-db/features/deepgreen-db-pgbadger"><small><sup>new</sup> pgBadger</small></a></li>
</ul>
