<!--  Customers section start-->
<section class="wrap-md b-top-lt-grey">
  <div class="container">
    <div class="row text-center">
      <h2 class="title">Customers & Partners</h2>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="/img/c-adobe-hd.png" class="c-logo logo-h" />
        <img src="/img/c-haier.jpg" class="c-logo logo-s" />
        <img src="/img/c-huawei.png" class="c-logo" />
        <img src="/img/c-telstra.png" class="c-logo" />
        <img src="/img/c-upwork-logo.png" class="c-logo" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="/img/p-neusoft.png" class="c-logo" />
        <img src="/img/p-trs.jpg" class="c-logo logo-s" />
      </div>
    </div>
  </div>
</section>
