<div class="row wrap-md hl-panel">
  <div class="col-md-3 col-sm-6 text-center">
    <a href='{{ "/products/deepgreen-db/xdrive/configuration" | relURL }}' class=""><i class="fas fa-sliders-h fa-3x"></i>
      <h3 class="h4">Configuration</h3></a>
  </div>
  <div class="col-md-3 col-sm-6 text-center">
    <a href='{{ "/products/deepgreen-db/xdrive/deployment" | relURL }}' class=""><i class="fas fa-cube fa-3x"></i>
      <h3 class="h4">Deployment</h3></a>
  </div>
  <div class="col-md-3 col-sm-6 text-center">
    <a href='{{ "/products/deepgreen-db/xdrive/start-stop" | relURL }}' class=""><i class="fas fa-play fa-3x"></i>
      <h3 class="h4">Start/Stop</h3></a>
  </div>
  <div class="col-md-3 col-sm-6 text-center">
    <a href='{{ "/products/deepgreen-db/xdrive/plugins" | relURL }}' class="">
      <i class="fas fa-puzzle-piece fa-3x"></i>
      <h3 class="h4">Plugins</h3>
    </a>
  </div>
</div>
