<section class="">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">

        <ul class="list-inline nav nav-justified subNav">
          {{ $currentPage := .Permalink }}

          <li><a
          {{if eq $currentPage "/products/apache-geode/"}}class="active"{{end}}
            href="/products/apache-geode/">Introduction</a></li>

          <li><a
          {{if in $currentPage "download"}}class="active"{{end}}
            href="/products/apache-geode/download">Download</a></li>

      </ul>

      </div>
    </div>
  </div>
</section>
