<!--4-columns section start-->
<section class="wrap bg-lt-grey">
  <div class="wrap-highlight">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 text-center">
          <div>
            <div class="fa-6x">
              <span class="fa-layers fa-fw" style="">
                  <i class="fas fa-circle" style="color:#008000"></i>
                  <i class="fa-inverse fa fa-magic" data-fa-transform="shrink-6"></i>
                </span>
            </div>

            <div>
              <h3 class=""><strong>More Agile</strong></h3>
              <p class="text-left desc">
                Deepgreen runs TPCH up to 5X faster than Greenplum. With the speed gain, you can do more on existing cluster. In addition, Deepgreen supports <strong>zero-downtime</strong> full and incremental synchronization of the database to another cluster for DR, or additional compute.
              </p>
            </div>

          </div>
        </div>
        <div class="col-sm-3 text-center">
          <div>
            <div class="fa-6x">
              <span class="fa-layers fa-fw" style="">
                  <i class="fas fa-circle" style="color:#008000"></i>
                  <i class="fa-inverse fas fa-hdd" data-fa-transform="shrink-6"></i>
                </span>
            </div>

            <div>
              <h3 class=""><strong>More Versatile</strong></h3>
              <p class="text-left desc">
                Connect effortlessly to cloud storage and data source, including HDFS, S3, Oracle, Geode and Elastic Search. Imagine the relief when the cumbersome fact tables are, in fact, stored in HDFS or S3, and your DW becomes almost weightless.
              </p>
            </div>

          </div>
        </div>
        <div class="col-sm-3 text-center">
          <div>
            <div class="fa-6x">
              <span class="fa-layers fa-fw" style="">
                  <i class="fas fa-circle" style="color:#008000"></i>
                  <i class="fa-inverse fas fa-cogs" data-fa-transform="shrink-6"></i>
                </span>
            </div>

            <div>
              <h3 class=""><strong>More Intelligent</strong></h3>
              <p class="text-left desc">
                Tight integration with Tensorflow allows for high-bandwidth ML training, and enables in-database infererence with SQL.
              </p>
            </div>

          </div>
        </div>
        <div class="col-sm-3 text-center">
          <div>
            <div class="fa-6x">
              <span class="fa-layers fa-fw" style="">
                  <i class="fas fa-circle" style="color:#008000"></i>
                  <i class="fa-inverse fas fa-plane" data-fa-transform="shrink-6"></i>
                </span>
            </div>

            <div>
              <h3 class=""><strong>Switch Effortlessly</strong></h3>
              <p class="text-left desc">
                Deepgreen DB is binary compatible with Greenplum. Switching from Greenplum to Deepgreen is as easy as 1-2-3:<br/> &nbsp; 1. shutdown Greenplum,<br/> &nbsp; 2. swap binaries,<br/> &nbsp; 3. bring up Deepgreen.
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--4-columns section end-->
